* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-color--: #000;
  --secondary-color--: #fff; */
  --primary-color--: #fff;
  --secondary-color--: #000;
}

body {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: var(--secondary-color--);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 8rem;
  padding-block: 1.2rem;
}

h1 {
  color: #ffc727;
  font-size: 1.8rem;
}

nav {
  display: flex;
  gap: 2rem;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: var(--primary-color--);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.active,
nav ul li a:hover {
  color: #ffc727;
  border-bottom: 2px solid #ffc727;
}

nav ul li a:active {
  opacity: 0.6;
}

#icon {
  width: 30px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 8rem;
}

h2 {
  color: var(--primary-color--);
  font-size: 2.4rem;
  margin-block-end: 0.4rem;
}

span {
  color: #ffc727;
}

p {
  width: 400px;
  font-size: 1.4rem;
  color: var(--primary-color--);
}

.hire-btn {
  display: inline-block;
  background: var(--primary-color--);
  border-radius: 10px;
  color: var(--secondary-color--);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.8rem 1rem;
  margin-block: 1.8rem 5rem;
  transition: opacity 0.3s ease-in-out;
}

.hire-btn:hover {
  opacity: 0.8;
}

.hire-btn:active {
  opacity: 0.7;
}

i {
  color: var(--primary-color--);
  font-size: 2rem;
  margin-inline-end: 1rem;
}

.img-section img {
  height: 500px;
}
