* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 8rem;
  padding-block: 1.2rem;
}

h1 {
  color: #ffc727;
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.active,
nav ul li a:hover {
  color: #ffc727;
  border-bottom: 2px solid #ffc727;
}

nav ul li a:active {
  opacity: 0.6;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 8rem;
}

h2 {
  font-size: 2.4rem;
  margin-block-end: 0.4rem;
}

span {
  color: #ffc727;
}

p {
  width: 400px;
  font-size: 1.4rem;
}

.hire-btn {
  display: inline-block;
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.8rem 1rem;
  margin-block: 1.8rem 5rem;
  transition: opacity 0.3s ease-in-out;
}

.hire-btn:hover {
  opacity: 0.8;
}

.hire-btn:active {
  opacity: 0.7;
}

i {
  color: #000;
  font-size: 2rem;
  margin-inline-end: 1rem;
}

.img-section img {
  height: 500px;
}
