* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 8rem;
  padding-block: 1.2rem;
}

h1,
span {
  color: #ffc727;
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.active,
nav ul li a:hover {
  color: #ffc727;
  border-bottom: 2px solid #ffc727;
}

main {
  display: flex;
  align-items: center;
  margin-inline: 8rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
  margin-block: 1.4rem;
}
